<li>
  {{question.question}} {{question.author}} {{question.type}}
  {{#if isAuthorShowing }}
    <p>{{question.author}} {{question.type}} {{action 'authorHide'}}</p>
  {{else}}
    <button {{action 'authorShow'}}>Question</button>
  {{/if}}
  <button {{action 'answer' question}}>Given Answer</button>
</li>
