<li>
  {{question.question}} {{question.author}} {{question.type}}
  {{#if isAuthorShowing }}
    <p> src={{question.author}} alt={{question.type}} </p>
  {{else}}
    <button>Question</button>
  {{/if}}
</li>
